*body{
    margin: 0;
    padding: 0;
    background-color: #edc5a4;
    font-family: sans-serif;
}

#textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  border: 1px solid black;
  width: 95%;
  margin: auto;
}
#textarea:focus-visible {
  outline: 3px solid dodgerblue;
}

.keyboard {
  width: 1295px;
  height: 360px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
  justify-content: start;
}

.first-grid{
  width: 875px;
  height: 360px;
}

.first-grid-row {
  display: flex;
  flex-wrap: wrap;
  width: 875px;
  height: 50px;
  padding-bottom: 5px;
  margin: 4px;
}

#none {
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: 4px;
}

#fnone {
  width: 9px;
  height: 30px;
  padding: 8px;
  margin: 2px;
}

/* 1st Row */
#Escape,
#F1,
#F2,
#F3,
#F4,
#F5,
#F6,
#F7,
#F8,
#F9,
#F10,
#F11,
#F12,
/* 2nd Row */
#Backquote,
#Digit1, 
#Digit2,
#Digit3,
#Digit4,
#Digit5,
#Digit6,
#Digit7,
#Digit8,
#Digit9,
#Digit0, 
#Minus,
#Equal,
/* 3rd Row */
#KeyQ,
#KeyW,
#KeyE,
#KeyR,
#KeyT,
#KeyY,
#KeyU,
#KeyI,
#KeyO,
#KeyP,
#BracketLeft,
#BracketRight,
/* 4th Row */
#KeyA,
#KeyS,
#KeyD,
#KeyF,
#KeyG,
#KeyH,
#KeyJ,
#KeyK,
#KeyL,
#Semicolon,
#Quote,
/* 5th Row */
#KeyZ,
#KeyX,
#KeyC,
#KeyV,
#KeyB,
#KeyN,
#KeyM,
#Comma,
#Period,
#Slash
{
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  border: 2px solid black;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 2px;
}

/*  */
/* Main Properties */
#Backspace, #Tab, #Backslash, #CapsLock, #Enter, #ShiftLeft, #ShiftRight, 
#ControlLeft, #ControlRight, #AltLeft, #Space, #AltRight, #ContextMenu,
#MetaLeft, #Function{
  height: 30px;
  background-color: #f1f1f1;
  border: 2px solid black;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 2px;
}
/* Width */
#Backspace{
  width: 88px;

}
#Tab{
  width: 53px;

}
#Backslash {
  width: 65px;
}

#CapsLock {
  width: 66px;
}

#Enter {
  width: 110px;
}

#ShiftLeft{
  width: 95px;
}

#ShiftRight{
  width: 139px;
}

#ControlLeft, #ControlRight, #AltLeft, #AltRight, 
#ContextMenu, #MetaLeft, #Function {
  width: 50px;
}

#Space {
  width: 296px;
}

/*  */

#button
{
  width: auto;
  height: auto;
  background-color: #f1f1f1;
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  margin: 2px;
}

.second-grid{
  width: 180px;
  height: 360px;
}

.second-grid-row {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  height: 50px;
  padding-bottom: 5px;
  margin: 4px;
}

#PrintScreen,
#ScrollLock,
#Pause,
#Insert,
#Home,
#PageUp,
#Delete,
#End,
#PageDown,
#ArrowUp,
#ArrowLeft,
#ArrowDown,
#ArrowRight
{
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  border: 2px solid black;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  font-weight: bold;
  text-align: center;
  margin: 2px;
}

.third-grid {
  width: 240px;
  height: 360px;
}

.third-grid-row {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  height: 50px;
  padding-bottom: 5px;
  margin: 4px;
}

#NumLock, #NumpadDivide, #NumpadMultiply, #NumpadSubtract,
#Numpad7, #Numpad8, #Numpad9, #NumpadAdd,
#Numpad4, #Numpad5, #Numpad6,
#Numpad1, #Numpad2, #Numpad3, #NumpadEnter,
#Numpad0, #NumpadDecimal{
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  border: 2px solid black;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  margin: 2px;
}

#Numpad0 {
  width: 88px;
}