*body{
    margin: 0;
    padding: 0;
    background-color: #edc5a4;
    font-family: sans-serif;
}

#textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  border: 1px solid black;
  width: 95%;
  margin: auto;
}
#textarea:focus-visible {
  outline: 3px solid dodgerblue;
}
